#
# 高效的角色伤害/治疗效果平衡/调整模块配置文件
# Copyright (C) 2026+ 牛皮德来 版权所有
#

[worldserver]

############################################
# ModPlayerBalance 输出调整模块配置文件
############################################

#
#    ModPlayerBalance.Enable
#        描述: 允许角色伤害/治疗效果调整模块.
#        默认:         0 - 禁用
#                     1 - 允许
#
ModPlayerBalance.Enable = 0

#
#    ModPlayerBalance.DebugInfo
#        描述: 开启调试模式,可以看到技能伤害变化提示.
#        默认:         0 - 禁用
#                     1 - 允许
#
ModPlayerBalance.DebugInfo = 0

#
#    ModPlayerBalance.CheckCommand
#        描述: 当前天赋和技能以及装备的伤害加成查询命令.
#        默认:         "" - 空字符串禁用命令
#                     "jc" - 用 jc 作为查询命令,可换成任何合法的字符串
#
ModPlayerBalance.CheckCommand = ""

#
#    ModPlayerBalance.DefaultTalentPoint
#        描述: 每天赋树默认激活调整伤害所需天赋点数
#        默认:         41
#
ModPlayerBalance.DefaultTalentPoint = 41

############################################
# 职业天赋树伤害调整配置
############################################

#
#    ModPlayerBalance.Warrior.Enable
#        描述: 允许调整战士伤害/治疗效果
#        默认:        0 - 禁用
#                     1 - 允许
#    ModPlayerBalance.Warrior.Rate
#        描述: 战士伤害倍率基数,默认1.0,即不调整
#    ModPlayerBalance.Warrior.Talent1/2/3
#        描述: 战士3系天赋树对应的伤害倍率,默认1.0,即不调整
#    ModPlayerBalance.Warrior.Talent1/2/3Point
#        描述: 战士3系天赋树伤害倍率激活所需点数,默认41
#
#        调整战士 武器-狂怒-防护
#
ModPlayerBalance.Warrior.Enable = 0
ModPlayerBalance.Warrior.Rate = 1.0
ModPlayerBalance.Warrior.Talent1 = 1.0
ModPlayerBalance.Warrior.Talent2 = 1.0
ModPlayerBalance.Warrior.Talent3 = 1.0
ModPlayerBalance.Warrior.Talent1Point = 41
ModPlayerBalance.Warrior.Talent2Point = 41
ModPlayerBalance.Warrior.Talent3Point = 41


#
#        调整圣骑士 神圣-防护-惩戒
#
ModPlayerBalance.Paladin.Enable = 0
ModPlayerBalance.Paladin.Rate = 1.0
ModPlayerBalance.Paladin.Talent1 = 1.0
ModPlayerBalance.Paladin.Talent2 = 1.0
ModPlayerBalance.Paladin.Talent3 = 1.0
ModPlayerBalance.Paladin.Talent1Point = 41
ModPlayerBalance.Paladin.Talent2Point = 41
ModPlayerBalance.Paladin.Talent3Point = 41

#
#        调整猎人 兽王-射击-生存
#
ModPlayerBalance.Hunter.Enable = 0
ModPlayerBalance.Hunter.Rate = 1.0
ModPlayerBalance.Hunter.Talent1 = 1.0
ModPlayerBalance.Hunter.Talent2 = 1.0
ModPlayerBalance.Hunter.Talent3 = 1.0
ModPlayerBalance.Hunter.Talent1Point = 41
ModPlayerBalance.Hunter.Talent2Point = 41
ModPlayerBalance.Hunter.Talent3Point = 41

#
#        调整盗贼 刺杀-战斗-敏锐
#
ModPlayerBalance.Rogue.Enable = 0
ModPlayerBalance.Rogue.Rate = 1.0
ModPlayerBalance.Rogue.Talent1 = 1.0
ModPlayerBalance.Rogue.Talent2 = 1.0
ModPlayerBalance.Rogue.Talent3 = 1.0
ModPlayerBalance.Rogue.Talent1Point = 41
ModPlayerBalance.Rogue.Talent2Point = 41
ModPlayerBalance.Rogue.Talent3Point = 41

#
#        调整牧师 戒律-神圣-暗影
#
ModPlayerBalance.Priest.Enable = 0
ModPlayerBalance.Priest.Rate = 1.0
ModPlayerBalance.Priest.Talent1 = 1.0
ModPlayerBalance.Priest.Talent2 = 1.0
ModPlayerBalance.Priest.Talent3 = 1.0
ModPlayerBalance.Priest.Talent1Point = 41
ModPlayerBalance.Priest.Talent2Point = 41
ModPlayerBalance.Priest.Talent3Point = 41

#
#        调整死亡骑士 鲜血-冰霜-邪恶
#
ModPlayerBalance.DeathKnight.Enable = 0
ModPlayerBalance.DeathKnight.Rate = 1.0
ModPlayerBalance.DeathKnight.Talent1 = 1.0
ModPlayerBalance.DeathKnight.Talent2 = 1.0
ModPlayerBalance.DeathKnight.Talent3 = 1.0
ModPlayerBalance.DeathKnight.Talent1Point = 41
ModPlayerBalance.DeathKnight.Talent2Point = 41
ModPlayerBalance.DeathKnight.Talent3Point = 41

#
#        调整萨满 元素-增强-恢复
#
ModPlayerBalance.Shaman.Enable = 0
ModPlayerBalance.Shaman.Rate = 1.0
ModPlayerBalance.Shaman.Talent1 = 1.0
ModPlayerBalance.Shaman.Talent2 = 1.0
ModPlayerBalance.Shaman.Talent3 = 1.0
ModPlayerBalance.Shaman.Talent1Point = 41
ModPlayerBalance.Shaman.Talent2Point = 41
ModPlayerBalance.Shaman.Talent3Point = 41

#
#        调整法师 奥术-火焰-冰霜
#
ModPlayerBalance.Mage.Enable = 0
ModPlayerBalance.Mage.Rate = 1.0
ModPlayerBalance.Mage.Talent1 = 1.0
ModPlayerBalance.Mage.Talent2 = 1.0
ModPlayerBalance.Mage.Talent3 = 1.0
ModPlayerBalance.Mage.Talent1Point = 41
ModPlayerBalance.Mage.Talent2Point = 41
ModPlayerBalance.Mage.Talent3Point = 41

#
#        调整术士 痛苦-恶魔-毁灭
#
ModPlayerBalance.Warlock.Enable = 0
ModPlayerBalance.Warlock.Rate = 1.0
ModPlayerBalance.Warlock.Talent1 = 1.0
ModPlayerBalance.Warlock.Talent2 = 1.0
ModPlayerBalance.Warlock.Talent3 = 1.0
ModPlayerBalance.Warlock.Talent1Point = 41
ModPlayerBalance.Warlock.Talent2Point = 41
ModPlayerBalance.Warlock.Talent3Point = 41

#
#        调整德鲁伊 平衡-野性-恢复
#
ModPlayerBalance.Druid.Enable = 0
ModPlayerBalance.Druid.Rate = 1.0
ModPlayerBalance.Druid.Talent1 = 1.0
ModPlayerBalance.Druid.Talent2 = 1.0
ModPlayerBalance.Druid.Talent3 = 1.0
ModPlayerBalance.Druid.Talent1Point = 41
ModPlayerBalance.Druid.Talent2Point = 41
ModPlayerBalance.Druid.Talent3Point = 41

############################################
# 全局技能/天赋点调整伤害配置
############################################

#
#    ModPlayerBalance.Spell
#        描述: 逗号分隔的 SpellId:Rate 配置（例如 "2431:0.95, 28913:1.06"）
#              拥有即有效,无需施放此技能或天赋点技能,就可获得伤害加成。主要用于明显影响dps的技能或天赋点,对伤害微调
#        默认:         空字符串（无特殊技能倍率）
#
ModPlayerBalance.Spell = ""

#
#    ModPlayerBalance.Equip
#        描述: 逗号分隔的 EquipId:Rate 配置（例如 "32837:1.05, 32838:1.06, 34334:1.07"）
#              装备后生效,可获得伤害加成。主要用于特殊装备
#        默认:         空字符串（无特殊装备倍率）
#
ModPlayerBalance.Equip = ""